.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fav {
  fill: yellow;
}

.card {
  position: absolute;
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  top: 10vh;
  z-index: 10;
}

.modal {
  position: fixed;
  background: whitesmoke;
  width: 70%;
}

.header {
  background: whitesmoke;
}

.header .bgImg {
  margin: 0;
  width: 100%;
  height: auto;
}

.header .pokemonImg {
  height: 100%;
  width: auto;
  max-width: 30vw;
  max-height: 30vh;
  display: block;
  margin: 0 auto;
}

.content {
  padding: 1rem;
}

.footer {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}


@media (min-width: 800px) {
  .card {
    left: calc(50% - 20rem);
  }
}