.item {
    display: flex;
    flex-direction: row;
    width: 100%
}

p.name {
    display: flex;
    width: 80%;
    padding: 0 10px;
}


.star-container {
    background-color: #f5f5f5;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
}

.star {
    visibility: hidden;
    font-size: 2rem;
    cursor: pointer;
    line-height: 1rem;
}

.star:before {
    content: "\2605";
    position: absolute;
    visibility: visible;
    color: #ECA539;
}

.star:checked:before {
    content: "\2606";
    position: absolute;
    color: #ECA539;
}